@font-face {
    font-family: textos;
    src: url(Lato-MediumItalic.ttf);
}

@font-face {
    font-family: fonte_menu;
    src: url(BebasNeue-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: rgb(13, 20, 31);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: rgb(91, 2, 151);
    font-size: 27px;
    font-family: fonte_menu;
}

a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:10px;
}

a:hover{
    background-color: rgb(64, 1, 105);
}

.robo {
    text-align: center;
}

div {
    margin: 10%;
    margin-top: 5%;
}

div h1{
    text-align: left;
    margin-bottom: 4%;
    font-size: 45px;
    margin-bottom: 3%;
}

div p {
    font-family: textos;
    font-size: 23px;
    text-align: left;
    text-align: justify;
    margin-bottom: 1%;
}

div hr {
    margin-bottom: 23px;
}