@font-face {
    font-family: textos;
    src: url(../Fontes/Lato-MediumItalic.ttf);
}

@font-face {
    font-family: fonte_menu;
    src: url(../Fontes/BebasNeue-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
    background-color: rgb(13, 20, 31);
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: rgb(91, 2, 151);
    font-size: 27px;
    font-family: fonte_menu;
}

.menu a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:10px;
}

.menu a:hover{
    background-color: rgb(64, 1, 105);
}

.conteudo{
    margin: 10%;
    margin-top: 5%;
}

.conteudo h1{
    text-align: left;
    margin-bottom: 4%;
    font-size: 45px;
}

.conteudo p{
    font-family: textos;
    font-size: 23px;
    text-align: left;
    text-align: justify;
    margin-bottom: 1%;
}

.conteudo hr{
    margin-bottom: 23px;
}

.rodape {
    background-color: rgb(20, 1, 36);
    padding: 80px;
}

.rodape p {
    text-align: center;
    font-size: 27px;
    font-family: fonte_menu;
}
