@font-face {
    font-family: textos;
    src: url(../Fontes/Lato-MediumItalic.ttf);
}

@font-face {
    font-family: fonte_menu;
    src: url(../Fontes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: font_tecnews;
    src: url(../Fontes/CocogooseProItalic-trial.ttf);
}

body {
    color: white;
    background-color: rgb(28, 32, 49);
    font-family: textos;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: #0b6e6e;
    font-size: 27px;
    font-family: fonte_menu;
}

.menu a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.menu a:hover{
    background-color: rgb(6, 87, 87);
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(6, 87, 87);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content{
    position: absolute;
    background-color: #0b6e6e;
    display: none;
}

.dropdown-content a{
    color: white;
    display: block;
    text-align: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.tela-login{
    background-color: rgb(6, 87, 87);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 25px;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: min-content;
    align-items: center;
    box-shadow: 0 4px 8px black;
}

.topo {
    background-color: #098f8f;
    padding: 3px;
    background-image: url(../Imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topo h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 30px;
    font-family: font_tecnews;
}

.topo a {
    color: white;
}

input{
    margin-top: 8%;
    width: 200px;
    height: 25px;
    padding: 10px;
    font-family: textos;
    outline: none;
}

.go {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(2, 175, 95);
    color: white;
    border-radius: 3px;
    border: none;
} 

p {
    margin-top: 8%;
    text-align: center;
    font-size: 20px;
}

a {
    color: rgb(0, 0, 0);
}

.rodape {
    background-color: rgb(6, 87, 87);
    padding: 25px;
    margin-top: 660px;
}

.rodape ul {
    list-style-type: none;
    text-align: center;
    font-size: 27px;
    font-family: fonte_menu;
}

.rodape a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.rodape li {
    padding: 10px;
}