body{
    color:white;
    background-color: rgb(48, 145, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    background-color: black;

}

a{
    color: white;
    text-decoration: none;
}
.centralizar{
    text-align: center;
}