@font-face {
    font-family: textos;
    src: url(Lato-MediumItalic.ttf);
}

body {
    color: white;
    background-color: rgb(13, 20, 31);
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(8, 230, 100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 25px; 
}

input{
    padding: 15px;
    outline: none;
    width: 87%;
}

button{
    color: white;
    background-color: rgb(91, 2, 151);
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border-width: 0ch;
    font-size: 18px;
}

a {
    color:rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-size: 40px;

}

p {
    font-family: textos;
    font-size: 19px;
}