@font-face {
    font-family: fonte_menu;
    src: url(BebasNeue-Regular.ttf);
}

@font-face {
    font-family: font_welcome;
    src: url(Lato-BlackItalic.ttf);
}

@font-face {
    font-family: font_tecnews;
    src: url(CocogooseProItalic-trial.ttf);
}

@font-face {
    font-family: textos;
    src: url(Lato-MediumItalic.ttf);
}

@font-face {
    font-family: title_text;
    src: url(Lato-Black.ttf);
}

body {
    color: white;
    background-color: rgb(13, 20, 31);
    font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.menu1 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: rgb(91, 2, 151);
    font-size: 27px;
    font-family: fonte_menu;
}
li{
    display: inline;
}

a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:10px;
}

a:hover{
    background-color: aqua;

}

.centralizar {
    text-align: center;
}

h2 h3 {
    font-family: title_text;
    font-size: 30px;
}

p {
    font-family: textos;
    font-size: 23px;
}

.tecnews {
    text-align: center;
    font-size: 90px;
    color: rgb(8, 230, 100);
    font-family: font_tecnews;
}

.welcome {
    font-family: font_welcome;
    text-align: center;
    font-size: 30px;
}