* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: textos;
    src: url(../Fontes/Lato-MediumItalic.ttf);
}

body {
    background-color: rgb(28, 32, 49);
    font-family: textos;   
}

.topo {
    background-color: #098f8f;
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 25px;
}

table {
	width: 100%;
	padding: 50px;
    font-size: 25px;
    margin-top: -3%;
}

h2 {
    font-size: 50px;
    padding: 50px;
    color: white;
}

th {
    color: white;
    border: 1px solid #ccc;
	text-align: center;
    background-color: rgb(167, 165, 165);
    padding: 15px;
}

td {
	font-weight: bold;
	background-color: #EEE;
    text-align: center;
    padding: 6px;
}

